# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# VS Code settings
.vscode/

# Temp file
bpcs_file

# Output files created by the app
*.png
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.zip
*.mp3
*.jpg

# except sample images
!samples/*.jpg
!samples/*.png